@import './vars.scss';

main {
	background-color: $primary-background;
	color: white;
	display: flex;
	height: 100%;
	flex-direction: column;
	overflow-y: hidden;

	.primary-container {
		height: 100%;
	}

	footer {
		width: 100%;
		display: flex;
		justify-content: flex-end;

		.footer-text {
			padding: 1em;
		}
	}
}
