// variables
$primary-background: #10181c;

main {
	background-color: $primary-background;
	color: white;
	display: flex;
	height: 100%;
	flex-direction: column;
	overflow-y: hidden;

	.primary-container {
		height: 100%;
		.landing-page__box {
			height: 100%;
			display: flex;
			justify-content: center;
			align-items: center;

			&-taunt {
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
			}
		}
	}

	footer {
		width: 100%;
		display: flex;
		justify-content: flex-end;

		.footer-text {
			padding: 1em;
		}
	}
}
