@import '../styles/vars.scss';

.matchBox {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 2em;

	.container {
		.backdrop {
			position: absolute;
			border: 2px solid #b6eada;
			background-color: transparent;
			overflow: hidden;
			pointer-events: none;
			transition: transform 1s;
		}

		.problemText {
			background-color: #1d252c;
			border: 2px solid transparent;
			position: absolute;
			resize: none;
			overflow: hidden;
		}
	}

	.container,
	.backdrop,
	.problemText {
		width: 60%;
		height: 400px;
	}

	.backdrop,
	.problemText {
		font-family: 'JetBrains Mono', monospace;
		font-size: 1.1rem;
		border-radius: 15px;
		line-height: 1.8em;
		padding: 1.5em 1.8em;
		&:focus {
			outline: none;
		}
	}

	.inputText {
		margin-top: 10px;
		width: 60%;
		background-color: $primary-background;
		color: white;
		border: none;
		border-bottom: 1px solid #b6eada;
		padding: 2vh;

		&:focus {
			outline: none;
		}
	}

	mark {
		border-radius: 3px;
		color: #03c988;
		background-color: transparent;
	}
}
