@import '../styles/vars.scss';

.matchBox {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 2em;

	.container {
		.backdrop {
			position: absolute;
			z-index: 3;
			border: 2px solid white;
			background-color: transparent;
			overflow: auto;
			pointer-events: none;
			transition: transform 1s;
		}

		.problemText {
			background-color: #685972;
			border: 2px solid transparent;
			position: absolute;
			z-index: 2;
			resize: none;
		}
	}

	.container,
	.backdrop,
	.problemText {
		width: 700px;
		height: 400px;
	}

	.backdrop,
	.problemText {
		font-family: 'JetBrains Mono', monospace;
		border-radius: 15px;
		line-height: 1.8em;
		padding: 1.5em;
	}

	.inputText {
		margin-top: 10px;
		width: 60%;
		background-color: $primary-background;
		color: white;
		border: 1px solid white;
		border-radius: 5px;
		padding: 2vh;
	}

	mark {
		border-radius: 3px;
		color: orange;
		background-color: transparent;
	}
}
